.yearPicker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}