.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 20px;
  margin-bottom: 10px;
  background-color: #d9edff;
  border: 1px solid grey;
  border-radius: 5px;

  &__label {
    width: 30%;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__data {
    width: 70%;
    padding: 0;
    margin-bottom: 15px;

    input {
      width: 100%;
      padding: 5px;
      font-size: 14px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    margin-right: 10px;
    padding: 3px 15px;
  }
}
